<h1 class="display-4 text-center">Log work hours</h1>
<div id="entry-container">
  <div class="card ml-auto mr-auto m-4" style="width: fit-content">
    <form class="card-body d-flex flex-column">
      <div class="form-group">
        <div class="d-flex">
          <label for="dp" class="align-self-center"
            ><h5 class="card-title">Date:</h5></label
          >
          <input
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            id="dp"
            [(ngModel)]="fields.date"
            ngbDatepicker
            #d="ngbDatepicker"
            (click)="d.toggle()"
            (ngModelChange)="setForm()"
          />
        </div>
      </div>
      <div class="form-group" style="width: fit-content;">
        <div class="d-flex justify-content-end">
          <label for="tpF" class="align-self-center"
            ><h5 class="card-title">From:</h5></label
          >
          <ngb-timepicker
            name="tp1"
            [(ngModel)]="fields.from"
            [minuteStep]="15"
          ></ngb-timepicker>
        </div>
        <div class="d-flex justify-content-end">
          <label for="tpT" class="align-self-center"
            ><h5 class="card-title">To:</h5></label
          >
          <ngb-timepicker
            name="tp2"
            [(ngModel)]="fields.to"
            [minuteStep]="15"
          ></ngb-timepicker>
        </div>
      </div>
      <button type="submit" (click)="onSubmit()" class="btn btn-primary">
        Submit
      </button>
    </form>
  </div>
  <app-message [message]="message"></app-message>
  <app-info
    class="fit-content"
    [dayHours]="dayH"
    [eveningHours]="eveningH"
    [date]="fields?.date"
  ></app-info>
</div>
